#search-page{
    min-height: 80vh;
 }
  
 #search-header{
    margin-left: 14%;
 }
  
 #search-results-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    margin-top: 2em;
    margin-left: 4%;
 }
  
 #search-results-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 30px;
 }
 

 #no-search-res{
   height: 500px;
 }

 #no-search-res-container{
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 2em;
   margin-left: -10em;
 }